/* grid system */
.container {
	max-width: 1140px;
	margin: 0 auto;
    display: flex;
}
.container-full-width {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.col-1 {
    width: 6.86666666667%;
}
.col-2 {
    width: 15.3333333333%;
}
.col-3 {
    width: 23.8%;
}
.col-4 {
    width: 32.2666666667%;
}
.col-5 {
    width: 40.7333333333%;
}
.col-6 {
    width: 49.2%;
}
.col-7 {
    width: 57.6666666667%;
}
.col-8 {
    width: 66.1333333333%;
}
.col-9 {
    width: 74.6%;
}
.col-10 {
    width: 83.0666666667%;
}
.col-11 {
    width: 91.5333333333%;
}
.col-12 {
    width: 100%;
}
@media only screen and (max-width: 1140px) {
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4, 
    .col-5, 
    .col-6, 
    .col-7, 
    .col-8, 
    .col-9, 
    .col-10, 
    .col-11, 
    .col-12 {
        width: auto;
        float: none;
    }
    .col + .col {
        margin-left: 0;
    }
}
