:root {
    --tl-white: #ffffff;
    --tl-dark-blue: #2b6fc2;
    --tl-green: #5bceb1;
    --tl-dark-grey: #95A3B3;
    --tl-grey: #cecece;
    --tl-dark: #222222;
    /* color for cards backgrounds and circles */
    --tl-card-darkblue: #151B27;
    --tl-card-cr-darkblue: #2c364b;
    --tl-card-lightblue: #273349;
    --tl-card-cr-lightblue: #374866;
    --tl-card-blue: #446D91;
    --tl-card-cr-blue: #4f7da5;
    --tl-card-lightgrey: #85929E;
    --tl-card-cr-lightgrey: #85929E;
}
body {
    background-color: #eff1f1;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
.navbar-links-list .vertical-line {
    border-left: 1px solid var(--tl-grey);
    margin: 0 20px;
}
/* navbar */
.navbar-links-list {
    background-color: var(--tl-white);
}
.navbar-links-list .container {
    border-bottom: 1px solid var(--tl-grey);
    padding: 5px 0;
}
.navbar-links-list .links-list {
    display: flex;
    justify-content: left;
    list-style: none;
}
.navbar-links-list .links-list .list-link {
    margin: 10px 0 15px 0;
}
.navbar-links-list .links-list .list-link a {
    color: var(--tl-dark);
    text-decoration: none;
    font-size: 15px;
}
.navbar-links-list .links-list .list-link a:hover {
    color: var(--tl-dark-blue);
    transition: all 0.6s;
}
/* header */
#service-info {
    background-color: var(--tl-white);
    padding: 10px 0;
    padding: 0 0 10px 0;
}
#service-info .container {
    display: flex;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid var(--tl-grey);
}
#service-info .vertical-line {
    border-left: 1px solid var(--tl-grey);
    margin: 0 0 0 25px;
    text-align: right;
}
#service-info .logo {
    color: var(--tl-dark);
    font-size: 14px;
    display: flex;
}
#service-info .info-item .title, .description {
    color: var(--tl-dark);
}
#service-info .logo a {
    margin: 0 7px 0 0;
    color: var(--tl-dark);
}
#service-info .address {
    display: flex;
}
#service-info .address i {
    color: var(--tl-dark-blue);
    margin: 3px 7px 0 0;
}
#service-info .address span, p {
    color: var(--tl-dark);
    font-size: 14px;
}
#service-info .feedback {
    text-align: right;
}
#service-info .feedback .btn-call {
    height: 42px;
    background-color: var(--tl-dark-blue);
    box-shadow: 0 3px 13px rgb(0 54 105 / 18%);
    color: var(--tl-white);
    border: none;
    border-radius: 7px;
    padding: 2%;
    cursor: pointer;
}
#service-info .feedback .btn-call:hover {
    transition: all 0.5;
    opacity: 0.8;
}
#service-info .schedule {
    color: var(--tl-dark);
}
#service-info .schedule .phone-service-number  {
    color: var(--tl-dark);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}
/* modal window with request form */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2b6fc2 74%);
    box-shadow: 0 4px 28px rgb(0 44 102 / 31%);
    margin: 5% auto;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 30%;
}
.modal-content #form-title, #form {
    text-align: center;
    margin: 30px 0 0 50px;
}
.modal-content #form-title .title-text {
    margin: 30px 0 20px 0;
    font-size: 25px;
    color: var(--tl-white);
}
.modal-content #form-title .preview-text {
    color: var(--tl-grey);
    font-size: 16px;
    margin: 0 0 15px 0;
}
.modal-content #form {
    padding: 0 0 15px 0;
}
.modal-content #form .field {
    width: 87%;
    background: transparent;
    color: var(--tl-white);
    border: 1px solid var(--tl-grey);
    border-radius: 5%;
    margin: 8px 0;
    padding: 5%;
}
.modal-content #form #phone {
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--tl-grey);
}
.modal-content #form .send-btn {
    width: 100%;
    border: none;
    border-radius: 3%;
    background-color: var(--tl-white);
    color: var(--tl-dark-blue);
    padding: 5%;
    margin: 15px 0 0 0;
    font-size: 15px;
    cursor: pointer;
}
.modal-content #form #privacy-policy {
    display: flex;
    margin: 15px 0 0 0;
}
.modal-content #form #privacy-policy input {
    height: 15px;
    width: 15px;
    appearance: none;
    border: 1px solid var(--tl-grey);
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}
.modal-content #form #privacy-policy span {
    text-align: left;
    margin: 0 0 0 6px;
    color: var(--tl-grey);
    font-size: 13px;
}
.modal-content #form .privacy-policy input:checked {
    border: 1px solid var(--tl-grey);
}
.close {
    color: var(--tl-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: var(--tl-grey);
    text-decoration: none;
    cursor: pointer;
}
/* repair links */
#repair-navbar {
    background-color: var(--tl-white);
    padding: 0 0 7px 0;
}
#repair-navbar .container {
    display: flex;
}
.repair-navbar .repair-link {
    display: flex;
}
.repair-navbar .repair-link i {
    margin: 18px 15px 0 0;
    color: var(--tl-grey);
}
.repair-navbar .repair-link .menu-item {
    display: flex;
    padding: 5px 0 0 0;
} 
.repair-navbar .repair-link .repair-title {
    text-decoration: none;
}
.repair-navbar .repair-link .repair-title span, p {
    color: var(--tl-dark);
}
.repair-navbar .repair-link .repair-title span {
    font-size: 12px;
}
.repair-navbar .repair-link .repair-title p {
    font-size: 13px;
}
/* navbar toggler when window width less than 900px */
.repair-navbar .toggle-menu .menu-toggler {
    background-color: var(--tl-card-lightblue);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.repair-navbar .toggle-menu .menu-toggler, .repair-navbar .toggle-menu  .col-lg-12 {
    display: none;
}
.header .preview-text {
    margin: 0 0 0 0;
    font-size: 26px;
    text-align: left;
}
/* preview section */
#preview {
    background-color: var(--tl-dark);
    background-image: linear-gradient(147deg, #000000 0%, #2b6fc2 74%);
    min-height: 360px;
    max-height: 800px;
    width: 100%;
}
#preview .container {
    display: flex;
    /* flex-wrap: wrap; */
}
#preview #banner img {
    margin: 20px 0 0 0;
    width: 100%;
}
#preview #preview-text {
    padding-top: 70px;
}
#preview #preview-text .service {
    color: var(--tl-grey);
    font-size: 18px;
}
#preview #preview-text .service-location {
    color: var(--tl-white);
    font-size: 50px;
    margin: 5px 0;
}
#preview #preview-text .service-description {
    color: var(--tl-white);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}
/* benefits section */
#benefits .col-lg-12 {
    background-color: var(--tl-white);
    display: flex;
    margin: 30px 10px 0 0;
    padding: 3%;
    border-radius: 10px;
}
.benefit-item .benefit-title {
    border-bottom: 1px solid var(--tl-grey);
    padding: 0 0 10px 0;
}
.benefit-item .benefit-title i {
    color: var(--tl-green);
    margin: 0 5px 0 0;
}
.benefit-item .benefit-title .text {
    font-weight: bold;
    font-size: 15px;
}
.benefit-item .benefits-list {
    border-right: 1px solid var(--tl-grey);
    margin-top: 10px;
}
.benefit-item .benefits-list .benefits-list-item {
    font-size: 14px;
    margin: 4px 0 0 0;
    color: var(--tl-dark);
} 
/* devices section */
#devices-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 30px 0 0 0;
}
#devices .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#devices #device-selection {
    margin: 15px 0 0 0;
    max-width: 240px;
    background-color: var(--tl-white);
    padding: 1%;
    border-radius: 3%;
    text-decoration: none;
    color: var(--tl-dark);
}
#devices #device-selection:hover {
    box-shadow: 0 3px 13px rgb(0 54 105 / 18%);
    transition: 0.6s;
}
#devices #device-selection .col-12 .title {
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 15px;
}
#devices #device-selection #image {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
#devices #device-selection #image .image {
    position: absolute;
    margin: -25px 0 0 0;
}
#devices #device-selection #image {
    justify-content: center;
}
#devices .container #device-selection #image .circle-bg {
    padding: 18%;
    width: 2%;
    height: 5px;
    background-color: var(--tl-grey);
    border-radius: 200px;
}
#devices #device-selection #device-info {
    margin: 5px 0 15px 0;
}
#devices #device-selection #device-info #get-more-info button {
    background: var(--tl-dark-blue);
    box-shadow: 0 3px 13px rgb(0 54 105 / 18%);
    color: var(--tl-white);
    display: inline-block;
    border-radius: 100px;
    border: none;
    padding: 7px 19px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.01em;
    cursor: pointer;
}
#devices #device-selection #device-info #get-more-info button:hover {
    background-color: var(--tl-dark-blue);
    transition: all 0.6s;
}
#devices #device-selection #device-info #price .device-price {
    font-size: 13px;
    font-weight: bold;
    margin: 7px 0 0 0;
    text-align: left;
    color: var(--tl-dark);
}
/* brand selection */
#brands-preview .col-12 {
    text-align: left;
    font-size: 26px;
    margin: 30px 0 0 0;
}
#brands .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#brands #brands-selection {
    width: 90px;
    padding: 5px 6px;
    margin: 10px 6px 0 6px;
    background-color: var(--tl-white);
    border-radius: 3%;
    text-decoration: none;
}
#brands #brands-selection:hover {
    box-shadow: 0 3px 13px rgb(0 54 105 / 18%);
    transition: 0.6s;
}
#brands #brands-selection .container {
    justify-content: center;
}
#brands #brands-selection .container span {
    font-size: 8px;
    color: var(--tl-dark);
    margin: 5px 0;
}
#brands #brands-selection .container i {
    font-size: 40px;
    color: var(--tl-dark-blue);
    margin: 0 0 5px 0;
}
#callback-form .row {
    background: url("/img/request.png");
    background-color: var(--tl-green);
    min-height: 110px;
    max-height: 560px;
    border-radius: 10px;
    display: flex;
    margin: 35px 0 0 0;
}
#callback-form .row #form {
    text-align: left;
    padding: 20px 0 0 0;
}
#callback-form .row #form .form-title {
    font-size: 25px;
    color: var(--tl-white);
    margin: 0 5px;
}
#callback-form .row .send-form {
    display: flex;
    margin: 10px 0;
}
#callback-form .row .send-form .field {
    width: 100%;
    height: 100%;
    background-color: var(--tl-white);
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px 10px 15px 10px;
}
#callback-form .row .send-form .field input {
    background: transparent;
    border: none;
}
#callback-form .row .send-form .field i {
    color: var(--tl-green);
    margin: 6px 15px 0 0;
}
#callback-form .row.send-form button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--tl-dark-grey);
    padding: 16px 19px;
    background: var(--tl-dark-blue);
    color: var(--tl-white);
    border-radius: 5px;
    outline: 0;
    border: 0;
    text-decoration: none;
    transition-duration: .2s;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
}
#callback-form .row .send-form button:hover {
    background-color: var(--tl-dark-blue);
    transition: all 0.6s;
}
#callback-form .row .privacy-policy {
    display: flex;
}
#callback-form .row .privacy-policy input {
    height: 15px;
    width: 15px;
    appearance: none;
    border: 1px solid var(--tl-dark-blue);
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}
#callback-form .row .privacy-policy input:checked {
    border: 1px solid var(--tl-dark-blue);
}
#callback-form .row .privacy-policy .privacy-policy-text {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: var(--tl-white);
}
/* promotion slider */
#promotion-preview #title {
    font-size: 26px;
    margin: 30px 0 10px 0;
}
#promotion-preview .header {
    display: flex;
}
#promotion-preview #navs {
    margin: 30px 0 0 0;
    text-align: right;
}
#promotion-preview  #navs i {
    color: var(--tl-dark-blue);
    border: 1px solid var(--tl-dark-blue);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 0 0 7px;
    font-size: 13px;
    cursor: pointer;
    text-align: right;
}
#promotion-preview #navs i:hover {
    transition: all 0.6s;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white)
}
#promotion-slider #wrapper {
    display: flex;
    flex-wrap: wrap;
}
#promotion-slider .owl-item {
    border-radius: 10px;
}
#promotion-slider .owl-item:hover {
    transition: all 0.6s;
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
}
#promotion-slider .owl-dots {
    display: flex;
    justify-content: center;
}
#promotion-slider .slide {
    text-align: center;
}
#promotion-slider .slide .title-text {
    font-size: 12px;
    color: var(--tl-white);
}
#promotion-slider .title {
    text-align: center;
    font-size: 12px;
    margin: 10px 0 30px 0;
    color: var(--tl-white);
}
#promotion-slider #image .image {
    position: absolute;
    margin-top: -80px;
    margin-left: 16px;
}
#promotion-slider #not-absolute-image {
    display: flex;
    justify-content: center;
}
#promotion-slider #text {
    text-align: center;
}
#promotion-slider #text .name-text, .bolded-text {
    color: var(--tl-white);
}
#promotion-slider .slide {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgb(3 64 121 / 6%);
    border-radius: 5px;
    transition-duration: .2s; 
    height: 200px;
}
#promotion-slider .circle-bg {
    padding: 5%;
    margin: 0 0 0 30px;
    height: 60px;
    border-radius: 200px;
}
#promotion-slider #glass {
    background: var(--tl-card-darkblue);
}
#promotion-slider #glass .circle-bg {
    background-color: var(--tl-card-cr-darkblue);
}
#promotion-slider  #promo-500 {
    background: var(--tl-card-cr-lightgrey);
}
#promotion-slider  #two-and-more {
    background: var(--tl-card-lightblue);
}
#promotion-slider #two-and-more .circle-bg {
    background-color: var(--tl-card-cr-lightblue);
}
#promotion-slider #priveleged {
    background: var(--tl-card-blue);
}
#promotion-slider #priveleged .circle-bg {
    background-color: var(--tl-card-cr-blue);
}
#promotion-slider .owl-dot {
    height: 5px;
    width: 5px;
    margin: 15px 2px;
    background-color: var(--tl-grey);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
#promotion-slider .active {
    background-color: var(--tl-dark-blue);
}
/* about service section */
#about-service-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 30px 0 0 0;
}
#about-service #wrapper {
    padding: 30px 70px 35px 70px;
    margin: 20px 0;
    background-color: var(--tl-white);
    border-radius: 1%;
}
#about-service #wrapper #title .title-text {
    margin: 20px 0 0 0;
    font-size: 20px;
    font-weight: bold;
}
#about-service #wrapper #description {
    margin: 20px 0 0 0;
}
#about-service #wrapper #description .description-list {
    margin: 0 0 0 40px;
}
#about-service #wrapper #description .description-list .description-list-item {
    margin: 5px 0;
}
/* repair process section */
#repair-process-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 20px 0 0 0;
}
#repair-process {
    margin: 20px 0 0 0;
}
#repair-process #wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#repair-process #wrapper #process {
    padding: 0 20px;
    margin: 10px 12px 0 0;
    max-height: 230px;
    max-width: 170px;
    background-color: var(--tl-white);
    border-radius: 3%;
}
#repair-process #wrapper #process:hover {
    transition: all 0.6s;
    box-shadow: 0 4px 9px rgb(0 0 0 / 3%);
}
#repair-process #wrapper #process .process-number {
    padding: 20px 0;
    text-align: right;
    font-size: 16px;
}
#repair-process #wrapper #process #process-image, #process-title, #process-description {
    text-align: center;
}
#repair-process #wrapper #process #process-title .process-description-title {
    color: var(--tl-dark);
    margin: 10px 0;
    font-size: 15px
}
#repair-process #wrapper #process #process-description .process-description-text {
    color: var(--tl-dark);
    margin: 0 0 20px 0;
    font-size: 13px
}
/* user reviews section */
#reviews-preview {
    display: flex;
    justify-content: center;
}
#reviews-preview #wrapper {
    /* margin: 0 0 0 10px; */
    display: flex;
}
#reviews-preview #wrapper #title {
    font-size: 26px;
    margin: 30px 0 10px 0;
}
#reviews-preview #wrapper #slider-buttons {
    text-align: right;
    margin: 30px 0 0 0;
}
#reviews-preview #wrapper #slider-buttons span {
    color: var(--tl-dark-blue);
    border: 1px solid var(--tl-dark-blue);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 5px 0 0;
    font-size: 13px;
    cursor: pointer;
}
#reviews-preview #wrapper #slider-buttons span:hover {
    transition: all 0.6s;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white);
}
#reviews #reviews-slider {
    background-color: var(--tl-white);
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0;
}
#reviews #review-item #resource-google {
    color: var(--tl-dark-blue);
}
#reviews #review-item #resource-google i {
    border: 1px solid var(--tl-grey);
    border-radius: 40%;
    padding: 5px 5px;
}
#reviews #review-item #resource-yandex {
    color: #ee4e4e;
    margin: 0 10px 0 0;
}
#reviews #review-item #resource-yandex i {
    border: 1px solid var(--tl-grey);
    border-radius: 40%;
    padding: 5px 7px;
}
#reviews #review-item #reviewer-info #stars {
    color: #f1a71c;
    font-size: 10px;
    margin: 0 0 5px 0;
}
#reviews #review-item #reviewer-info #stars i {
    margin: 0 0 0 5px;
    text-align: left;
}
#reviews #review-item #reviewer-info #name {
    font-size: 13px;
    color: var(--tl-dark);
    margin: 0 0 0 7px;
}
#reviews #review-item .review-content {
    margin: 20px 0;
    font-size: 16px;
    color: var(--tl-dark);
}
#reviews-footer .row {
    margin: 0 0 40px 0;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2b6fc2 74%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#reviews-footer #footer-text {
    padding: 2%;
}
#reviews-footer #footer-text .title {
    font-size: 22.5px;
    color: var(--tl-white);
}
#reviews-footer #footer-text .description {
    color: var(--tl-grey);
    font-size: 15px;
    margin: 10px 0 0 0;
}
#reviews-footer #social-links {
    text-align: right;
    margin: 20px 0 0 0;
    display: flex;
}
#reviews-footer #social-links .leave-review {
    text-decoration: none;
    padding: 3%;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--tl-green);
    color: var(--tl-white);
    font-size: 13px;
    cursor: pointer;
    height: 50%;
}
#reviews-footer #social-links i {
    padding: 7px 7px;
    background-color: var(--tl-grey);
    margin: 3px 7px 0 7px;
    vertical-align: center;
    border-radius: 10%;
    color: var(--tl-dark-blue);
    font-size: 19px;
}
/* contacts section */
#service-contacts-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 30px 0 10px 0;
}
#service-contacts #wrapper {
    margin: 10px 0 0 0;
    display: flex;
}
#service-contacts #wrapper #service-contacts-info {
    padding: 2%;
    background-color: var(--tl-white);
    border-radius: 2%;
}
#service-contacts #service-contacts-info #contacts-title {
    display: flex;
}
#service-contacts #service-contacts-info #contacts-title #logo {
    display: flex;
}
#service-contacts #service-contacts-info #contacts-title #logo .title {
    font-size: 18px;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-title #logo .description {
    font-size: 14px;
    color: var(--tl-dark);
    margin: 3px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-title #cards i {
    font-size: 26px;
    color: var(--tl-grey);
    text-align: right;
    margin: 0 5px;
}
#service-contacts #service-contacts-info #contacts-info {
    display: flex;
    margin: 25px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info .title i {
    margin: 0 7px 0 0;
    color: var(--tl-dark-blue);
    font-size: 12px; 
}
#service-contacts #service-contacts-info #contacts-info .title-text {
    font-size: 15px;
    font-weight: 600;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #phones .phones {
    margin: 13px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info #phones .phones .phone a {
    text-decoration: none;
    font-size: 17px;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #address {
    margin: 26px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info #address .address-text {
    font-size: 12px;
    margin: 7px 0 0 0;
    max-width: 200px;
}
#service-contacts #service-contacts-info #contacts-info #schedule {
    margin: 26px 0 0 0; 
}
#service-contacts #service-contacts-info #contacts-info #schedule .description {
    margin: 7px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info #schedule .schedule-text {
    font-size: 12px;
}
#service-contacts #service-contacts-info #contacts-info #email {
    margin: 26px 0 0 0; 
}
#service-contacts #service-contacts-info #contacts-info #email .description {
    margin: 7px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info #email .email-text {
    font-size: 12px;
}
#service-contacts #service-contacts-info #contacts-info #metro .title {
    font-size: 15px;
    font-weight: 600;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #metro .metro-service-range i {
    color: #df4040;
    margin: 12px 10px 12px 0;
} 
#service-contacts #service-contacts-info #contacts-info #metro .metro-service-range span {
    font-size: 13px;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #metro #index-train .index-text {
    margin: 7px 0 0 0;
    font-size: 12px;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #stations {
    margin: 15px 0 0 0;
}
#service-contacts #service-contacts-info #contacts-info #stations .title {
    font-size: 15px;
    font-weight: 600;
    color: var(--tl-dark);
}
#service-contacts #service-contacts-info #contacts-info #stations .station-name i {
    font-size: 12px;
    margin: 15px 7px 0 0;
}
#service-contacts #service-contacts-info #contacts-info #stations .station-name span {
    font-size: 11px;
    color: var(--tl-dark);
}
/* gallery section */
#service-gallery #wrapper {
    background-color: var(--tl-white);
    margin: 30px 0 0 0;
    padding: 30px 30px;
    border-radius: 10px;
}
#service-gallery #wrapper #image img {
    width: 100%;
}
/* footer section */
#footer {
    margin: 50px 0 0 0;
    background-color: var(--tl-dark);
}
#footer .container {
    padding: 30px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}
#footer .container .common-info {
    border-bottom: 1px solid var(--tl-grey);
    padding: 0 0 10px 0;
}
#footer .container .common-info .logo, .yandex-rating .rating-block {
    display: flex;
}
#footer .container .common-info .logo img {
    margin: 0 20px 0 0;
}
#footer .container .common-info .logo p, span {
    color: var(--tl-white);
}
#footer .container .common-info .phones .phone a {
    color: var(--tl-dark-blue);
    text-decoration: none;
    margin: 5px 0;
}
#footer .container .common-info .yandex-rating .rating i {
    color: #ff0000;
    margin: 0 10px 0 0;
}
#footer .container .common-info .yandex-rating #leave-appraisal {
    display: flex;
}
#footer .container .common-info .yandex-rating #leave-appraisal .vertical-line {
    background-color: #fff;
}
#footer .container .common-info .yandex-rating #leave-appraisal .icon, .text {
    color: var(--tl-dark-grey);
}
#footer .container .common-info .yandex-rating #leave-appraisal .text {
    font-size: 13px;
}
#footer .container .common-info .yandex-rating #clarification .clarification-text {
    font-size: 12px;
    margin: 10px 0 0 10px;
    color: var(--tl-dark-grey);
}
#footer .container .service-info {
    margin: 20px 0;
}
#footer .container .service-info .address .address-text {
    color: var(--tl-dark-grey);
    font-size: 13px;
    margin: 10px 0;
}
#footer .container .service-info .ie .ie-text {
    color: var(--tl-dark-grey);
    font-size: 13px;
    margin: 10px 0;
}
#footer .container .service-info .social-networks a {
    padding: 5px;
    background-color: var(--tl-grey);
    border-radius: 5px;
}
#footer .container .service-info .social-networks a i {
    color: var(--tl-dark-grey);
    margin: 10px 4px;
}
#footer .container .service-links .link a {
    font-size: 12px;
    color: var(--tl-grey);
    text-decoration: none;
}
#footer .container .service-links .title i {
    display: none;
    color: var(--tl-dark-grey);
    cursor: pointer;
}
#footer .container .service-links .title {
    color: var(--tl-white);
    margin: 0 0 10px 0;
}
#footer .container .copyright {
    padding: 15px 0 0 0;
    border-top: 1px solid var(--tl-grey);
}
#footer .container .copyright .cards i {
    color: var(--tl-grey);
    font-size: 20px;
}
#footer .container .copyright .copyright-text {
    text-align: right;
    font-size: 13px;
    color: var(--tl-dark-grey);
}
#breadcrumbs .col-lg-12 {
    margin: 30px 0 0 0;
}
#breadcrumbs .col-lg-12 .breadcrumb-item {
    color: var(--tl-dark);
    text-decoration: none;
}
#breadcrumbs .col-lg-12 .active-breadcrumb {
    color: var(--tl-grey);
}
/* contacts page */
#contacts-preview .preview-text {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0 0 0;
}
#path-video-guide .col-lg-12 {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}
/* pay by card page */
#pay-by-card .col-lg-12 {
    background-color: var(--tl-white);
    padding: 3%;
    margin: 30px 0 0 0;
    border-radius: 2%;
}
#pay-by-card #title {
    margin: 20px 0 20px 0; 
}
#pay-by-card #title .title-text {
    font-size: 25px;
    margin: 0 0 15px 0;
}
#pay-by-card #title .description-text {
    font-size: 15px;
    color: var(--tl-dark-grey);
}
#pay-by-card #pay-with-sber {
    display: flex;
}
#pay-by-card #pay-with-sber #description {
    margin: 10px 0 0 0;
}
#pay-by-card #pay-with-sber #description .description-text, .description-sub-text {
    color: var(--tl-dark-grey);
    font-size: 15px;
}
#pay-by-card #pay-with-sber #description .description-sub-text {
    margin: 20px 0 0 0;
}
#pay-by-card #pay-with-sber img {
    width: 100%;
}
#pay-by-card #cards-list {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}
#pay-by-card #delivery-process {
    margin: 25px 0 0 0;
}
#pay-by-card #delivery-process .title-text {
    font-size: 20px;
    margin: 0 0 15px 0;
}
#pay-by-card #delivery-process .description-text {
    color: var(--tl-dark-grey);
}
#pay-by-card #delivery-process #data {
    margin: 15px 0 0 0;
}
#pay-by-card #delivery-process .data-description, .data-sub-description {
    font-size: 16px;
    color: var(--tl-dark-grey);
    margin: 10px 0 0 0;
}
#pay-by-card #delivery-process .data-description, .data-sub-description {
    margin: 20px 0 0 0;
}
#pay-by-card #pay {
    display: flex;
    justify-content: center;
}
#pay-by-card #pay .pay-btn {
    padding: 15px 80px;
    color: var(--tl-white);
    font-size: 17px;
    border: none;
    border-radius: 3%;
    background-color: var(--tl-dark-blue);
    cursor: pointer;
}
/* delivery page */
#delivery {
    background-color: var(--tl-white);
    border-radius: 2%;
    padding: 2%;
}
#delivery #wrapper {
    display: flex;
    margin: 30px 0;
}
#delivery #title {
    margin: 30px 0 20px 0; 
}
#delivery #title .title-text {
    font-size: 25px;
    margin: 0 0 15px 0;
}
#delivery #title .description-text {
    font-size: 15px;
    color: var(--tl-dark-grey);
    margin: 0 0 25px 0;
}
#delivery #registration #title .title {
    color: var(--tl-dark);
    font-size: 21px;
    font-weight: bold;
    margin: 30px 0;
}
#delivery #registration #registration-list {
    font-size: 15px;
    color: var(--tl-dark);
}
#delivery #registration #registration-list .title {
    color: var(--tl-dark);
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0;
}
#delivery #registration #registration-list #list {
    margin: 0 0 0 20px;
}
#delivery #registration #registration-list #list li {
    margin: 10px 0;
}
#delivery #ways-of-payment-deliver .ways-title {
    margin: 20px 0 20px 30px;
    color: var(--tl-green);
}
#delivery #ways-of-payment-deliver #list {
    display: flex;
    justify-content: center;
    margin: 0 0 0 40px;
}
#delivery #ways-of-payment-deliver .payment-list {
    display: flex;
}
#delivery #ways-of-payment-deliver li img {
    margin: 0 5px;
}
#delivery #ways-of-payment-deliver #list .col-2 {
    margin: 10px 0;
    display: flex;
    color: var(--tl-dark);
}
#delivery #ways-of-payment-deliver #list .col-2 img {
    margin: 0 5px;
}
#delivery #ways-of-payment-deliver #deliver-types {
    margin: 0 0 0 90px;
}
#delivery #pluses {
    margin: 30px 0;
}
#delivery #pluses #pluses-title {
    font-weight: bold;
    font-size: 19px;
    color: var(--tl-dark);
    margin: 25px 0 15px 0;
}
#delivery #pluses #advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#delivery #pluses #advantages .col-4 {
    margin: 15px 0 0 0;
}
#delivery #pluses #advantages i {
    font-size: 35px;
}
#delivery #pluses #advantages .title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--tl-dark);
}
#delivery #pluses #advantages .description {
    font-size: 16px;
    color: var(--tl-dark);
}
#delivery #pluses #advantages #filled {
    padding: 3%;
    border-radius: 7px;
    background-color: var(--tl-dark-grey);
    margin: 0 0 10px 0;
}
/* about page */
#about-preview .col-lg-12 {
    margin: 40px 0;
}
#about-preview .col-lg-12 .preview-text {
    font-size: 40px;
    color: var(--tl-dark-grey);
}
#sub-about-preview .col-lg-12 {
    margin: 0 0 30px 0;
    font-size: 15px;
    color: var(--tl-dark);
}
#about {
    padding: 3%;
    background-color: var(--tl-white);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
#about #title {
    margin: 30px 0 0 0;
}
#about #title .title-text {
    font-size: 25px;
    color: var(--tl-dark);
}
#about #service-description {
    margin: 30px 0 0 0;
    display: flex;
}
#about #service-description #service-description-title .title-text {
    font-size: 22px;
    font-weight: bold;
    color: var(--tl-dark);
    margin: 15px 0 0 0;
}
#about #service-description #service-description-list {
    margin: 25px 0 25px 35px;
}
#about #service-description #service-description-list li {
    margin: 11px 0 0 0;
}
#about #service-description #service-description-list li .list-item {
    color: var(--tl-dark-grey);
    font-size: 15px;
}
#about #quantity #years, #repairs {
    padding-top: 15px;
    border-top: 3px solid var(--tl-green);
}
#about #quantity .title {
    color: var(--tl-green);
    margin: 0 0 15px 0;
}
#about #quantity .quantity {
    color: var(--tl-dark);
    font-weight: bold;
    font-size: 55px;
    margin: 0 0 15px 0;
}
#about #quantity .description {
    margin: 0 0 45px 0;
    font-size: 13px;
    color: var(--tl-grey);
}
#about #quote {
    margin: 15px 0 0 0;
}
#about #quote #border {
    border:1px solid var(--tl-green); 
    margin: 0 0 15px 0;
}
#about #quote #quote-text .quote-text {
    font-size: 16px;
    font-weight: bold;
    color: var(--tl-dark-grey);
}
#about #quote #quote-text {
    display: flex;
}
#about #quote #quote-text #quote-image {
    margin: -30px 0 0 10px;
}
#about .about-benefits-block {
    border-top: 1px solid var(--tl-dark-grey);
}
#about-benefits-block {
    margin: 20px 0 0 0;
    border-top: 1px solid var(--tl-grey); 
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 2%;
}
#about-benefits-block .col-lg-12 {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
/* repair pages(main repair, by brand, by device) */
#repair-preview {
    background-color: var(--tl-dark);
    background-image: linear-gradient(147deg, #000000 0%, #2b6fc2 74%);
    height: 500px;
}
#repair-preview #wrapper #left-side {
    margin: 30px 120px 0 0px;
}
#repair-preview #wrapper #left-side #breadcrumbs {
    margin: 0 0 30px 0;
    font-size: 15px;
    color: var(--tl-grey);
}
#repair-preview #wrapper #left-side #breadcrumbs .hoverable {
    text-decoration: none;
    color: var(--tl-grey);
}
#repair-preview #wrapper #left-side #title .title-text {
    font-size: 40px;
    font-weight: bold;
    color: var(--tl-white);
    margin: 0 0 30px 0;
}
#repair-preview #wrapper #left-side #description .description-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--tl-white);
    text-align: left;
}
#repair-preview #wrapper #left-side #callback {
    margin: 30px 15px 0 15px;
}
#repair-preview #wrapper #left-side #callback span {
    color: var(--tl-white);
    font-size: 19px;
    margin: 0 30px 0 0;
}
#repair-preview #wrapper #left-side #callback button {
    color: var(--tl-white);
    font-size: 14px;
    margin: 0 30px 0 0;
    border: 1px solid var(--tl-grey);
    border-radius: 4%;
    background-color: transparent;
    padding: 18px 18px;
    cursor: pointer;
}
#repair-preview #wrapper #left-side #callback button:hover {
    transition: all 0.5s;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white);
}
#repair-preview #wrapper #right-side {
    margin: 70px 0 0 0;
}
#repair-preview #wrapper #right-side #find-device {
    float: right;
    margin: 0 50px 0 0;
}
#repair-preview #wrapper #right-side #find-device .find-device-form {
    padding: 5%;
    background-color: var(--tl-white);
    border-radius: 6%;
    border-radius: 10px;
}
#repair-preview #wrapper #right-side #find-device input {
    border: none;
    background-color: transparent;
    font-size: 14px;
}
#repair-preview #wrapper #right-side #find-device button {
    position: absolute;
    padding: 8px 8px 8px 8px;
    margin: -10px 0 0 1px;
    font-size: 18px;
    color: var(--tl-white);
    border: 1px solid var(--tl-dark-blue);
    background-color: var(--tl-dark-blue);
    border-radius: 10px;
}
#repair-benefits {
    position: absolute;
    margin: 400px 0 0 115px;
}
#repair-benefits .col-12 {
    width: 1140px;
    background-color: var(--tl-white);
    display: flex;
    justify-content: center;
    margin: 30px 10px 0 0;
    padding: 3%;
    border-radius: 10px;
}
/* when block was hoverable by position absolute style */
.mr-for-hoverable {
    padding: 120px 0 0 0;
}
#repair-price-list-preview .col-12 {
    margin: 30px 0 0 0;
}
#repair-price-list-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 0 10px 0 0;
}
#repair-price-list-preview .hint {
    font-size: 20px;
    color: var(--tl-dark-grey);
}
#repair-price-table #wrapper {
    display: flex;
}
#repair-price-table #service-table-header #table-header-item {
    background-color: var(--tl-dark-grey);
    color: var(--tl-white);
    font-size: 16px;
    text-align: left;
    display: flex;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 3%);
}
#repair-price-table #service-table-body #table-body-item {
    color: var(--tl-dark);
    font-size: 16px;
    display: flex;
    background-color: var(--tl-white);
    padding: 2%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 4px 5px rgb(0 0 0 / 3%);
    margin: 7px 0 0 0;
}
#repair-price-table #service-table-body #table-body-item #price {
    font-weight: bold;
}
#repair-price-table #service-table-body #table-body-item .register-delivery {
    border: 1px solid var(--tl-dark-blue);
    color: var(--tl-dark-blue);
    padding: 10px 0;
    cursor: pointer;
    width: 90%;
    margin: 0 0 0 25px;
    background-color: transparent;
}
#repair-price-table #service-table-body #table-body-item .register-delivery:hover {
    transition: all 0.5s;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white);
}
#repair-price-table #promotion-cards {
    margin: 25px 0 0 45px;
}
#repair-price-table #promotion-cards .col-12 {
    margin: 10px 0;
    padding: 1%;
    border-radius: 2%;
    cursor: pointer;
}
#repair-price-table #promotion-cards .card:hover {
    box-shadow: 0 3px 5px rgb(0 54 105 / 18%);
    transition: 0.6s;
}
#repair-price-table #promotion-cards .circle-bg {
    padding: 5%;
    width: 25%;
    height: 60px;
    border-radius: 200px;
}
#repair-price-table #promotion-cards #title .title-text {
    text-align: center;
    margin: 30px 0;
    color: var(--tl-white);
    font-size: 14px;
}
#repair-price-table #promotion-cards #image {
    display: flex;
    justify-content: center;
}
#repair-price-table #promotion-cards #image img {
    position: absolute;
    margin: -10px 0 0 0;
}
#repair-price-table #promotion-cards #not-absolute-image {
    display: flex;
    justify-content: center;
}
#repair-price-table #promotion-cards #description .description-text {
    text-align: center;
    font-size: 17px;
    color: var(--tl-white);
    margin: 20px 0;
}
#repair-price-table #promotion-cards #description .description-sub-text {
    margin: 17px 0 0 0;
    color: var(--tl-white);
    text-align: center;
}
#repair-price-table #promotion-cards #defend-glass {
    background-color: var(--tl-card-darkblue);
}
#repair-price-table #promotion-cards #defend-glass .circle-bg {
    background-color: var(--tl-card-cr-darkblue);
}
#repair-price-table #promotion-cards #promo-500 {
    background-color: var(--tl-card-lightgrey);
}
#repair-price-table #promotion-cards #two-or-more-10 {
    background-color: var(--tl-card-lightblue);
}
#repair-price-table #promotion-cards #two-or-more-10 .circle-bg {
    background-color: var(--tl-card-cr-lightblue);
}
#repair-price-table #promotion-cards #priveleged-groups {
    background-color: var(--tl-card-blue);
}
#repair-price-table #promotion-cards #priveleged-groups .circle-bg {
    background-color: var(--tl-card-cr-blue);
}
#repair-price-table #promotion-cards #two-or-more-5 {
    background-color: var(--tl-card-darkblue);
}
#repair-price-table #promotion-cards #two-or-more-5 .circle-bg {
    background-color: var(--tl-card-cr-darkblue);
}
#repair-price-table #promotion-cards #happy-hours {
    background-color: var(--tl-card-lightblue);
}
#repair-price-table #promotion-cards #happy-hours .circle-bg {
    background-color: var(--tl-card-cr-lightblue);
}
#repair-description #wrapper {
    background-color: var(--tl-white);
    border-radius: 2%;
    padding: 4%;
}
#repair-description #wrapper #preview-text {
    color: var(--tl-dark);
    font-size: 15px;
}
#repair-description #wrapper #about-service-description #title .title-text {
    margin: 25px 0;
    font-size: 19px;
    font-weight: bold;
}
#repair-description #wrapper #about-service-description #list {
    margin: 0 0 0 30px;
}
#repair-description #wrapper  #about-service-text {
    margin: 15px 0 0 0;
    color: var(--tl-dark);
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
#repair-model-selection-preview .preview-text {
    text-align: left;
    font-size: 26px;
    margin: 25px 0 0 0;
}
#repair-model-selection #wrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
#repair-model-selection #wrapper #device {
    display: flex;
    padding: 2%;
    background-color: var(--tl-white);
    border-radius: 4%;
    margin: 13px 30px 0 0;
    width: 209px;
    box-shadow: 0 3px 5px rgb(0 54 105 / 18%);
    text-decoration: none;
    font-size: 16px;
}
#repair-model-selection #wrapper #device:hover {
    box-shadow: 0 3px 20px rgb(0 54 105 / 18%);
    transition: all 0.6s;
}
#repair-model-selection #wrapper #device .circle-bg {
    padding: 5%;
    width: 90%;
    height: 65px;
    border-radius: 200px;
    background-color: var(--tl-grey);
}
#repair-model-selection #wrapper #device #image img {
    position: absolute;
    margin: -72px 0 0 12px;
}
#repair-model-selection #wrapper #device #name {
    margin: 16px 0 0 10px;
    color: var(--tl-dark);
}
#accordion-preview-text .preview-text {
    margin: 30px 0 0 0;
    font-size: 26px;
    text-align: left;
}
#accordion #wrapper {
    background-color: var(--tl-white);
    padding: 5%;
    border-radius: 4%;
    margin: 20px 0 0 0;
    display: flex;
}
#accordion #wrapper #accordion-block {
    padding: 0 16px 0 0;
}
#accordion #wrapper #accordion-item {
    border-bottom: 1px solid var(--tl-grey);
    padding-bottom: 16px;
    margin: 15px 0 0 0;
}
#accordion #wrapper #accordion-text {
    display: flex;
    margin: 0 0 15px 0;
}
#accordion #wrapper #accordion-text .title-text {
    font-size: 16px;
    color: var(--tl-dark);
    margin: 5px 0 0 0;
}
#accordion #wrapper #accordion-text #accordion-btn i {
    padding: 5px 6px;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white);
    cursor: pointer;
    border-radius: 8%;
    font-size: 12px;
    margin: 0 10px 0 10px;
}
#accordion #wrapper #accordion-item .collapsible-block {
    font-size: 15px;
    color: var(--tl-grey);
    display: none;
}
#repair-brand-description #wrapper {
    margin: 25px 0 0 0;
    background-color: var(--tl-white);
    padding: 3%;
    border-radius: 10px;
}
#repair-brand-description #title .title-text {
    margin: 15px 0 15px 0;
    color: var(--tl-dark);
}
#repair-brand-description #list .title {
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}
#repair-brand-description #list .sub-text {
    margin: 15px 0 15px 0;
    color: var(--tl-dark);
}
#repair-brand-description #list .sub-title {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
#repair-brand-description #list #list-items {
    margin: 0 0 0 40px;
    color: var(--tl-dark);
}
#repair-brand-description #repair-description {
    color: var(--tl-dark);
    font-weight: bold;
    font-size: 14px;
}
#repair-device #wrapper {
    background-color: var(--tl-card-darkblue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3%;
    margin: 25px 0 0 0;
}
#repair-device #wrapper #description #image img {
    position: absolute;
    margin: 0 0 0 45px;
}
#repair-device #wrapper #repair-description {
    float: right;
    display: flex;
    justify-content: center;
}
#repair-device #wrapper #repair-description #description-text {
    margin: 0 30px 0 0;
}
#repair-device #wrapper #repair-description #description-text .title {
    margin: 5px 0 15px 0;
    font-size: 20px;
    color: var(--tl-white);
}
#repair-device #wrapper #repair-description #description-text .description {
    font-size: 15px;
    font-weight: 500;
    color: var(--tl-white);
}
#repair-device #wrapper #repair-description #description-text .list {
    margin: 15px 0 0 0;
    list-style: none;
}
#repair-device #wrapper #repair-description #description-text .list li::before {
    content: "\2022";
    color: var(--tl-dark-blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin: 10px 0 0 0;
}
#repair-device #wrapper #repair-description #description-text .list li span {
    color: var(--tl-dark-grey);
    margin: 10px 0 0 0;
}
#repair-device #wrapper #repair-description #cards .card {
    padding: 10px 0;
    border-radius: 10px;
    margin: 15px 0 0 0;
}
#repair-device #wrapper #repair-description #cards .card .description {
    font-size: 10px;
    text-align: center;
    color: var(--tl-white);
}
#repair-device #wrapper #repair-description #cards .card .bolded {
    text-align: center;
    font-size: 10px;
    color: var(--tl-white);
    margin: 5px 0 0 0;
}
#repair-device #wrapper #repair-description #cards #green-card {
    background-color: var(--tl-green);
}
#repair-device #wrapper #repair-description #cards #blue-card {
    background-color: var(--tl-dark-blue);
}
#repair-device #wrapper #repair-description #cards #lightblue-card {
    background-color: var(--tl-card-lightblue);
}
#repair-device #wrapper #price-time {
    background-color: var(--tl-dark-grey);
    padding: 4%;
}
#repair-price-time #wrapper {
    background-color: var(--tl-card-lightblue);
    padding: 3%;
}
#repair-price-time #wrapper #price-time {
    float: right;
    display: flex;
    justify-content: center;
}
#repair-price-time #wrapper #price-time #list {
    display: flex;
}
#repair-price-time #wrapper #price-time #title {
    color: var(--tl-dark-grey);
}
#repair-price-time #wrapper #price-time #title i {
    margin: 0 5px 10px 0;
}
#repair-price-time #wrapper #price-time #description .description-text {
    font-size: 19px;
    color: var(--tl-dark-blue);
}
#repair-price-time #wrapper #price-time #button button {
    width: 100%;
    border: none;
    background-color: var(--tl-dark-blue);
    color: var(--tl-white);
    padding: 10px 0;
    font-size: 14px;
    border-radius: 3%;
    cursor: pointer;
} 
#repair-price-time #wrapper #price-time #button button:hover {
    transition: all 0.6s;
    background-color: var(--tl-dark-blue);
}
#repair-device-benefits #wrapper {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--tl-card-blue);
    color: var(--tl-grey);
}
#repair-device-benefits #wrapper #benefit {
    display: flex;
}
#repair-device-benefits #wrapper #benefit .title {
    color: var(--tl-grey);
}
#repair-device-benefits #wrapper #benefit i {
    font-size: 30px;
    margin: 20px 0 0 20px;
}
#repair-device-benefits #wrapper #benefit .title {
    margin: 0 0 10px 0;
}
#repair-device-benefits #wrapper #benefit #benefits-list {
    list-style: none;
    font-size: 12px;
}
#devices #wrapper {
    display: flex;
    justify-content: left;
}
#devices .image-source-brand {
    width: 105px;
    margin: -10px 0 0 0;
}
#repair-device-description #wrapper {
    background-color: var(--tl-white);
    border-radius: 2%;
    margin: 25px 0 0 0;
    padding: 3%;
}
#repair-device-description #wrapper #title-text {
    margin: 10px 0 20px 0;
    font-size: 15px;
}
#repair-device-description #wrapper #repair-description .title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
}
#repair-device-description #wrapper #repair-description .sub-text {
    margin: 15px 0;
}
#repair-device-description #wrapper #repair-description #list {
    margin: 10px 40px;
}
#repair-device-description #wrapper #repair-description #list li {
    margin: 5px 0 0 0;
}

@media (max-width: 993px) {
    #repair-navbar .menu {
        display: none;
    }
    #repair-navbar .toggle-menu .menu-toggler {
        display: block;
    }
    #benefits .col-lg-12 {
        display: block;
        text-align: center;
    }
    #benefits .col-lg-12 .benefit-item {
        margin: 10px 0;
    }
    #reviews-footer .row, #reviews-footer .row #social-links {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #callback-form #form {
        margin: 0;
    }
    #callback-form .image {
        display: flex;
        justify-content: center;
    }
    #about #service-description {
        display: block;
    }
    #about-benefits-block .col-lg-12 {
        display: block;
        text-align: center;
    }
    #about-benefits-block .col-lg-12 .col-lg-3 {
        margin: 10px 0;
    }
    #delivery #wrapper {
        display: block;
    }
    #delivery #ways-of-payment-deliver li img {
        width: 20%;
    }
    #delivery #ways-of-payment-deliver #deliver-types img {
        display: block;
    }
    #delivery #advantages {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1000px) {
    #promotion-slider #image {
        display: flex;
        justify-content: center;
        margin: 0 0 25px 0;
    }
    #promotion-slider #image .image {
        margin: -15px 0 0 20px;
    }
    #promotion-slider #not-absolute-image .image {
        margin: 0 0 20px 0;
    }
    #footer .common-info {
        display: flex;
        justify-content: center;
    }
    #footer .service-links .devices, .info {
        display: none;
    }
    #footer .service-links .links .title .devices-dropdown {
        display: block;
    }
    #footer .service-links .links .title .service-dropdown {
        display: block;
    }
}
@media (max-width: 1200px) {
    #promotion-slider #navs, #promotion-slider .owl-dots {
        display: none;
    }
    #reviews-preview #slider-buttons {
        display: none;
    }
}
