// widths
$max_width: 1200px;
$middle_width: 992px;
$small_width: 768px;
$extra_small_width: 576px;

// columns
$one_column: 8.333333%;
$two_columns: 16.666667%;
$three_columns: 25%;
$four_columns: 33.333333%;
$five_columns: 41.666667%;
$six_columns: 50%;
$seven_columns: 58.333333%;
$eight_columns: 66.666667%;
$nine_columns: 75%;
$ten_columns: 83.333333%;
$eleven_columns: 91.666667%;
$twelve_columns: 100%;

// default margins and paddings
$default_padding: 15px;
$default_margin: auto;

// justify contents
$justify_start: start;
$justify_flex_start: flex-start;
$justify_end: end;
$justify_flex_end: flex-end;
$justify_center: center;
$justify_flex_center: center;
$justify_between: justify;
$justify_flex_between: space-between;
$justify_around: distribute;
$justify_flex_around: space-around;

$columns: (
    "1": $one_column, "2": $two_columns, "3": $three_columns, "4": $four_columns,
    "5": $five_columns, "6": $six_columns, "7": $seven_columns, "8": $eight_columns,
    "9": $nine_columns, "10": $ten_columns, "11": $eleven_columns, "12": $twelve_columns 
);

$justifies: (
    start: $justify_flex_start, end: $justify_flex_end,
    center: $justify_flex_center, between: $justify_flex_between,
    around: $justify_flex_around
);

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: $twelve_columns;
  padding-right: $default_padding;
  padding-left: $default_padding;
  margin-right: $default_margin;
  margin-left: $default_margin;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -$default_margin;
    margin-left: -$default_margin;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: $twelve_columns;
  padding-right: $default_padding;
  padding-left: $default_padding;
}

@mixin justify ($columnWidth: false) {
    @if $columnWidth {
        @each $name, $flex in $justifies {

            @if $name == "between" {
                .justify-content-#{$columnWidth}-#{$name} {
                    -ms-flex-pack: justify !important;
                    justify-content: $flex !important;
                }
            } @else if $name == "around" {
                .justify-content-#{$columnWidth}-#{$name} {
                    -ms-flex-pack: distribute !important;
                    justify-content: $flex !important;
                }
            } @else {
                .justify-content-#{$columnWidth}-#{$name} {
                    -ms-flex-pack: $name !important;
                    justify-content: $flex !important;
                }
            }

        }
    } @else {
        @each $name, $flex in $justifies {
            @if $name == "between" {
                .justify-content-#{$name} {
                    -ms-flex-pack: justify !important;
                    justify-content: $flex !important;
                }
            } @else if $name == "around" {
                .justify-content-#{$name} {
                    -ms-flex-pack: distribute !important;
                    justify-content: $flex !important;
                }
            } @else {
                .justify-content-#{$name} {
                    -ms-flex-pack: $name !important;
                    justify-content: $flex !important;
                }
            }
        }
    }
}

@mixin columns ($columnWidth: false) {
    @if $columnWidth {
        @each $columnName, $columnSize in $columns {
            .col-#{$columnWidth}-#{$columnName} {
                -ms-flex: 0 0 $columnSize;
                flex: 0 0 $columnSize;
                max-width: $columnSize;
            }
        }
    } @else {
        @each $columnName, $columnSize in $columns {
            .col-#{$columnName} {
                -ms-flex: 0 0 $columnSize;
                flex: 0 0 $columnSize;
                max-width: $columnSize;
            }
        } 
    }
}

@include columns();
@include justify();

@media (min-width: $extra_small_width) {
    .container, .container-sm {
        max-width: 540px;
    }
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: $twelve_columns;
    }
    
    @include columns("sm");
    
    @include justify("sm");
}

@media (min-width: $small_width) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: $twelve_columns;
    }
    
    @include columns("md");

    @include justify("md");
}

@media (min-width: $middle_width) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: $twelve_columns;
    }
       
    @include columns("lg");

    @include justify("lg");
}

@media (min-width: $max_width) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: $twelve_columns;
    }
       
    @include columns("xl");

    @include justify("xl");
}

